<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap css-->
    <link href="/vote/src/main/webapp/assets/bootstrap-3.3.7/css/bootstrap.min.css"
          th:href="@{/assets/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet">
    <!-- share.css -->
    <link href="/vote/src/main/webapp/assets/overtrue-share.js/css/share.min.css"
          th:href="@{/assets/overtrue-share.js/css/share.min.css}" rel="stylesheet">
    <!--Semantic-UI CSS-->
    <link href="/vote/src/main/webapp/assets/Semantic-UI/semantic.min.css"
          th:href="@{/assets/Semantic-UI/semantic.min.css}" rel="stylesheet">
    <!--jquery ui css-->
    <link href="/vote/src/main/webapp/assets/jquery-ui-1.12.1/jquery-ui.min.css"
          th:href="@{/assets/jquery-ui-1.12.1/jquery-ui.min.css}" rel="stylesheet">

    <!--jquery js-->
    <script src="/vote/src/main/webapp/assets/jquery-3.2.1/jquery-3.2.1.min.js"
            th:src="@{/assets/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
    <!--jquery.validate js-->
    <script src="/vote/src/main/webapp/assets/jquery-validation-1.17.0/jquery.validate.min.js"
            th:src="@{/assets/jquery-validation-1.17.0/jquery.validate.min.js}"></script>
    <script src="/vote/src/main/webapp/assets/jquery-validation-1.17.0/localization/messages_zh.min.js"
            th:src="@{/assets/jquery-validation-1.17.0/localization/messages_zh.min.js}"></script>

    <!--Semantic-UI js-->
    <script src="/vote/src/main/webapp/assets/Semantic-UI/semantic.min.js"
            th:src="@{/assets/Semantic-UI/semantic.min.js}"></script>
    <!--jquery ui js-->
    <script src="/vote/src/main/webapp/assets/jquery-ui-1.12.1/jquery-ui.min.js"
            th:src="@{/assets/jquery-ui-1.12.1/jquery-ui.min.js}"></script>
    <!--bootstrap js-->
    <script src="/vote/src/main/webapp/assets/bootstrap-3.3.7/js/bootstrap.min.js"
            th:src="@{/assets/bootstrap-3.3.7/js/bootstrap.min.js}"></script>


    <!-- share.js -->
    <script src="/vote/src/main/webapp/assets/overtrue-share.js/js/social-share.min.js"
            th:src="@{/assets/overtrue-share.js/js/social-share.min.js}"></script>
    <!--当你使用类名为 `social-share` 或者 `social-share` 时不需要手动初始化-->

    <style>
        .line-height-30{
            line-height: 30px;
        }
    </style>
</head>
<body>
<div class="container" style="padding-top: 50px">
    <div class="container navbar-fixed-top">
        <div class="alert text-center" role="alert" style="padding: 8px" id="submit-alert">超过投票数量限制！</div>
    </div>
    <div class="vote-info-container">
        <div class="page-header" style="margin-bottom: 10px">
            <h1>
                <span th:text="${voteInfo.getTitle()}">选举大会</span>
                <small></small>
            </h1>
        </div>
        <div class="vote-time" style="font-size:16px; width: 30%;display: inline;margin-right: 50px">
            <i class="wait icon"></i>
            <span th:text="${#calendars.format(voteInfo.getStartTime(),'yyyy-MM-dd')}">2017-07-08</span>-
            <span th:text="${#calendars.format(voteInfo.getEndTime(),'yyyy-MM-dd')}">2017-08-08</span>
        </div>
        <div class="vote-access" style="font-size:16px;widows:30%;display: inline">
            <i class="checkmark box icon"></i>
            访问量<span th:text="${voteInfo.getAccessCount()}">125484</span>次
        </div>
        <div class="vote-rule" style="font-size: 16px;padding-top: 10px">
            <i class="configure icon"></i>
            投票规则:
            <span th:if="${voteInfo.getChoiceMax()==1}">
                单选
            </span>
            <span th:if="${voteInfo.getChoiceMax() gt 1}">
                多选
                <span th:if="${voteInfo.getChoiceMin()} gt 1" >
                    至少选 <span th:text="${voteInfo.getChoiceMin()}" style="font-weight: 600">2</span> 项
                </span>
                <span >
                    最多选 <span th:text="${voteInfo.getChoiceMax()}" style="font-weight: 600">2</span> 项
                </span>
            </span>
        </div>
        <hr style="margin: 10px 0 0 0">
        <div class="vote-description" style="padding: 10px">
            <div th:utext="${voteInfo.getDescription()}" style="padding-bottom: 10px">
                <p>
                    第十<em>八</em><strong>届人大代表选举</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="vote-option-container">
        <div class="ui link four cards" id="option-cards">
            <div class="card" th:each="voteOption,indexStat : ${voteOptionList}">
                <div class="image" th:if="${!#strings.isEmpty(voteOption.getImageUrl())}">
                    <img th:src="${voteOption.getImageUrl()}" th:alt="${voteOption.getTitle()}">
                </div>
                <div class="content">
                    <div class="header" th:if="${#strings.isEmpty(voteOption.getExternalLink())}" >
                        <span th:text="${voteOption.getTitle()}"></span>
                    </div>
                    <div class="header" th:unless="${#strings.isEmpty(voteOption.getExternalLink())}">
                        <a th:text="${voteOption.getTitle()}" th:href="${voteOption.getExternalLink()}"></a>
                    </div>
                    <div class="description" th:if="${!#strings.isEmpty(voteOption.getSummary())}"
                         th:text="${voteOption.getSummary()}"></div>
                </div>
                <div class="extra content">
                    <!--<span class="line-height-30" ><i class="user icon"></i>75(50.3%)</span>-->
                    <span class="right floated line-height-30">
                        <button class="ui button mini small red vote-button">
                            <i class="heart icon"></i>
                            <span>投票</span>
                        </button>
                        <input type="hidden" th:value="${voteOption.getId()}" id="optionId">
                    </span>
                </div>
            </div>

            <div class="container text-center" th:if="${voteInfo.getChoiceMax() != 0}">
                <button type="button" class="ui button primary big" id="vote-submit">
                    <i class="checkmark box icon"></i>
                    <span>投票</span>
                </button>
            </div>
        </div>
    </div>

    <div>
        <hr>
        <div class="social-share"></div>
    </div>
    <div th:replace="/commons/footer::#footer-container"></div>
</div>

<script type="text/javascript" th:inline="javascript">
    /*<![DATA[*/
        var choiceMin =/*[[${voteInfo.getChoiceMin()}]]*/ 0;
        var choiceMax =/*[[${voteInfo.getChoiceMax()}]]*/ 0;
        var voteId = /*[[${voteInfo.getId()}]]*/ 0 ;
    /*]]>*/
    var selected = 0;
    $().ready(function () {
        $('#submit-alert').hide();

        var $config = {
        };
        $('.social-share').share($config);
    });

    $('.vote-button').click(function () {
        if($(this).hasClass("red")){
            if(choiceMax > 1 && selected >= choiceMax){
                $('#submit-alert').removeClass("alert-warning").addClass("alert-success").html("超出投票数量限制!").slideDown();
                window.setTimeout(function () {
                    $('#submit-alert').slideUp();
                },3000);
                return ;
            }
            if(choiceMax==1 && selected >= 1){
                $('#option-cards').find("div .vote-button").each(function () {
                    $(this).removeClass("green").addClass('red');
                    $(this).children("i").removeClass("checkmark").addClass("heart");
                    $(this).children("span").html("投票");
                });
            }
            selected++;
            $(this).removeClass("red").addClass('green');
            $(this).children("i").removeClass("heart").addClass("checkmark");
            $(this).children("span").html("已选择");
            $(this).attr("selected",true);
        }else{
            selected--;
            $(this).removeClass("green").addClass('red');
            $(this).children("i").removeClass("checkmark").addClass("heart");
            $(this).children("span").html("投票");
            $(this).attr("selected",false);
    }});


    $('#vote-submit').click(function () {
        //检查选择数量
        if(selected>choiceMax){
            $('#submit-alert').removeClass("alert-success").addClass("alert-warning").html("超出投票数量限制!").slideDown();
            window.setTimeout(function () {
                $('#submit-alert').slideUp();
            },3000);
        }
        if(selected<choiceMin){
            $('#submit-alert').removeClass("alert-success").addClass("alert-warning").html("不足最少投票数!").slideDown();
            window.setTimeout(function () {
                $('#submit-alert').slideUp();
            },3000);
        }
        var selectedList = new Array();
        $('#option-cards').find("button.vote-button").each(function () {
            if($(this).attr('selected')) {
                var selectedOption = new  Object();
                selectedOption["voteId"] = voteId;
                selectedOption["optionId"] = $(this).next().val();
                selectedList.push(selectedOption);
            }
        });

        $.ajax({
            url:"/vote/submit",
            type:"POST",
            dataType:"json",
            contentType:"application/json",
            data:JSON.stringify(selectedList),
            success:function (data) {
                if(data.code==0){
                    $('#vote-submit').removeClass('primary').addClass("positive");
                    $('#vote-submit').find('span').html("已投票");
                }
            }
        });

    });

</script>
</body>
