<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/messages_zh.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <title>账户信息</title>

    <style th:include="header::#navbar-container-style"></style>
    <style th:include="footer::#footer-container-style"></style>

    <style th:include="manageMean::#mean-navbar-style"></style>

</head>
<body>

<!--Header-->
<div th:replace="header::#navbar-container"></div>

<!--content-->
<div class="container">
    <div class="row">
        <div th:replace="manageMean::#mean-navbar"></div>
        <div class="col-sm-10">

        </div>
    </div>

</div>
<!--Footer-->
<div th:replace="footer::#footer-container"></div>

<script th:replace="header::#navbar-container-script"></script>
</body>
</html>