<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/messages_zh.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/semantic.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/messages_zh.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/semantic.min.js"></script>


    <!-- 配置文件 -->
    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>


    <title>创建投票</title>

    <style th:include="header::#navbar-container-style"></style>
    <style th:include="footer::#footer-container-style"></style>

    <style>
        #create-vote-steps{
            width: 100%;
            margin-top: 0;
        }

        #create-vote-steps .checkmark{
            color: #21ba45;
        }

        #create-vote-steps .edit{
            color: #4183c4;
        }
        #step-buttons{
            margin-right: 10px;
        }
        #step-buttons button{
            margin: 0 5px;
        }
    </style>
</head>
<body>
<div th:replace="header::#navbar-container"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>创建投票</h2>
            <hr>
            <div class="ui mini steps" id="create-vote-steps">
                <div class=" step">
                    <i class="checkmark icon"></i>
                    <div class="content">
                        <div class="title">基本信息</div>
                        <div class="description">
                            填写投票基本信息
                        </div>
                    </div>
                </div>
                <div class="active step">
                    <i class="edit icon"></i>
                    <div class="content">
                        <div class="title">投票选项</div>
                        <div class="description">
                            添加投票选项
                        </div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="wait icon"></i>
                    <div class="content">
                        <div class="title">功能设置</div>
                        <div class="description">
                            设置投票功能
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="create-vote-step1">
                <div class="panel-heading">
                    <h3>第一步：填写投票信息</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="vote-title" class="col-sm-2 control-label">投票活动标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="vote-title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="vote-description" class="col-sm-2 control-label">活动描述</label>
                            <div class="col-sm-10">
                                <!-- 加载编辑器的容器 -->
                                <script id="vote-description" name="content" type="text/plain"></script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="vote-after-show" class="col-sm-2 control-label">投票完成后显示信息</label>
                            <div class="col-sm-10">
                                <!-- 加载编辑器的容器 -->
                                <script id="vote-after-show" name="content" type="text/plain"></script>
                            </div>
                        </div>
                        <div class="form-group" id="step-buttons">
                            <div class="text-right">
                                <button type="button" class="btn btn-default">上一步</button>
                                <button type="button" class="btn btn-default">下一步</button>
                                <button type="button" class="btn btn-default disabled">完成</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>第二步：添加投票选项</h3>
                </div>
                <div class="panel-body">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>
</div>


<div th:replace="footer::#footer-container"></div>

<script th:replace="header::#navbar-container-script"></script>


<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('vote-description');
</script>

<script type="text/javascript">
    var ue = UE.getEditor('vote-after-show');
</script>

</body>
</html>