<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/messages_zh.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>


    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/semantic.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/messages_zh.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/semantic.min.js"></script>

    <title>首页</title>

    <style th:include="header::#navbar-container-style"></style>
    <style th:include="footer::#footer-container-style"></style>

    <style>
        #reset-pwd-container .form-group{
            align-content: center;
        }


        #reset-pwd-steps{
            height: 40px;
            width: 50%;
            margin-top: 0;
        }
        #back-password-h2{
            margin:0;
        }
    </style>
</head>
<body>
<div th:replace="header::#navbar-container"></div>
<div class="panel panel-default">
    <div class="container panel-body">
        <h2 id="back-password-h2">找回密码</h2>
        <br>
        <span>通过注册邮箱或手机号重设密码</span>
        <hr>

        <div class="ui mini steps" id="reset-pwd-steps">
            <div class="step">
                <div class="content">
                    <div class="title">填写账户</div>
                </div>
            </div>
            <div class="step">
                <div class="content">
                    <div class="title">安全验证</div>
                </div>
            </div>
            <div class="active step">
                <div class="content">
                    <div class="title">重设密码</div>
                </div>
            </div>
        </div>


        <div class="container" id="set-new-pwd-container">
            <div id="set-new-pwd">
                <form class="form-horizontal " id="set-new-pwd-form">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="new-pwd" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="confirm-new-pwd" placeholder="请再次输入新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-default" id="set-new-pwd-submit">保存密码</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer::#footer-container"></div>

<script th:replace="header::#navbar-container-script"></script>

</body>
</html>