<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.keaper.vote.persistence.po"/>
    </typeAliases>
    
    <typeHandlers>
        <typeHandler handler="com.keaper.vote.persistence.handler.ActivateStatusHandler"
                     javaType="com.keaper.vote.common.enums.ActivateStatus"/>
        <typeHandler handler="com.keaper.vote.persistence.handler.ValidateRuleHandler"
                     javaType="com.keaper.vote.common.model.ValidateRule"/>
    </typeHandlers>

</configuration>