<!DOCTYPE html >
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/bootstrap-3.3.7/css/bootstrap.min.css"
          th:href="@{/assets/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet">

    <script src="/assets/jquery-3.2.1/jquery-3.2.1.min.js"
            th:src="@{/assets/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
    <script src="/assets/jquery-validation-1.17.0/jquery.validate.min.js"
            th:src="@{/assets/jquery-validation-1.17.0/jquery.validate.min.js}"></script>
    <script src="/assets/jquery-validation-1.17.0/localization/messages_zh.min.js"
            th:src="@{/assets/jquery-validation-1.17.0/localization/messages_zh.min.js}"></script>
    <script src="/assets/bootstrap-3.3.7/js/bootstrap.min.js"
            th:src="@{/assets/bootstrap-3.3.7/js/bootstrap.min.js}"></script>

    <style type="text/css" id="navbar-container-style" th:fragment="navbar-container-style">
        body{
            padding-top: 50px;
        }
        
        #login-form label.error{
            color:darkred
        }
        #reg-form label.error{
            color:darkred
        }

        #login-form label.login-error{
            color: darkred;
        }

        #reg-form label.reg-error{
            color: darkred;
        }
        ul.nav a{
            color: white;
            font-size: 16px;
        }
        ul.dropdown-menu a{
            color: black;
        }
    </style>
</head>

<body>
<div class="container-fluid" id="navbar-container" th:fragment="navbar-container">
    <nav class="navbar  navbar-fixed-top" role="navigation"
         style="background: linear-gradient(rgba(36, 128, 224, 0.77),rgba(103,184,240,0.77));">
        <div class="container-fluid">
            <div class="navbar-header col-sm-1"></div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" style="color: white;">
                    <li><a href="/">首页</a></li>
                    <li><a href="/vote/create">创建投票</a></li>
                    <li><a href="/">管理中心</a></li>
                    <li><a href="/help">帮助</a></li>
                </ul>
                <ul th:if="${#httpSession.getAttribute('userInfo') != null}" class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav" style="color: white;">
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="nick-name" >
                            <span th:text="${#httpSession.getAttribute('userInfo').nickName}"></span>
                            <span class="caret"></span></a></li>
                        <li id="logout"><a href="/user/logout">退出</a></li>
                    </ul>
                </ul>
                <ul th:unless="${#httpSession.getAttribute('userInfo') != null}" class="nav navbar-nav navbar-right">
                    <li data-toggle="modal" data-target="#signModal" id="signButton"><a href="#">登录</a></li>
                    <li data-toggle="modal" data-target="#regModal" id="regButton"><a href="#">注册</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" tabindex="-1" role="dialog" id="signModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">登录</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="login-form">
                        <div class="form-group">
                            <label for="login-email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="login-email" name="login-email" placeholder="请输入邮箱">
                                <label id="login-email-not-exist" class="login-error">邮箱不存在！</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="login-password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="login-password" name="login-password" placeholder="请输入密码">
                                <label id="login-password-wrong" class="login-error">密码错误！</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="login-vcode" class="col-sm-2 control-label">验证码</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="login-vcode" name="login-vcode" placeholder="请输入验证码">
                                <label id="login-vcode-wrong" class="login-error">验证码错误！</label>
                            </div>
                            <a href="#" id="login-new-vcode"><img src="/captcha/alphanumeric?ref=login" alt="验证码" id="login-vcode-img"></a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="/user/password/forget" target="_blank" style="margin-right: 20px">忘记密码?</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="login-button">登录</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="regModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">注册</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="reg-form">
                        <div class="form-group">
                            <label for="reg-nick-name" class="col-sm-2 control-label">昵称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="reg-nick-name" name="reg-nick-name" placeholder="请输入昵称，3-15个字符" >
                                <label id="reg-nick-exist" class="reg-error">昵称已被占用！</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reg-email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="reg-email" name="reg-email" placeholder="请输入邮箱">
                                <label id="reg-email-exist" class="reg-error">邮箱已被占用！</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reg-password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="reg-password" name="reg-password" placeholder="请输入密码，6-20个字符">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reg-confirm-password" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="reg-confirm-password" name="reg-confirm-password" placeholder="请再次输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reg-vcode" class="col-sm-2 control-label">验证码</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="reg-vcode"  name="reg-vcode" placeholder="请输入验证码">
                                <label id="reg-vcode-wrong" class="reg-error">验证码错误！</label>
                            </div>
                            <a href="#" id="reg-new-vcode"><img src="/captcha/alphanumeric?ref=register" alt="验证码" id="reg-vcode-img"></a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="reg-button">注册</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript" id="navbar-container-script" th:fragment="navbar-container-script">

    $().ready(function () {
        /**
         * 邮箱和昵称的实时ajax校验暂时不做，只在提交时校验
         * input rules是通过name来标识的
         */
//        login form validate
        $("#login-form").validate({
            rules:{
                "login-email":{
                    required:true,
                    email:true
                },
                "login-password":{
                    required:true
                },
                "login-vcode":{
                    required:true,
                    rangelength:[4,4]
                }
            },
            messages:{
                "login-email":{
                    required:"请输入邮箱",
                    email:"邮箱地址不合法"
                },
                "login-password":{
                    required:"请输入密码"
                },
                "login-vcode":{
                    required:"请输入验证码",
                    rangelength:"验证码长度不符合"
                }
            }
        });

//        register form validate
        $("#reg-form").validate({
            rules:{
                "reg-nick-name":{
                    required:true,
                    rangelength:[3,15]
                },
                "reg-email":{
                    required:true
                },
                "reg-password":{
                    required:true,
                    rangelength:[6,20]
                },
                "reg-confirm-password":{
                    required:true,
                    equalTo:"#reg-password"
                },
                "reg-vcode":{
                    required:true
                }
            },
            messages:{
                "reg-nick-name":{
                    required:"请输入昵称",
                    rangelength:"昵称为3-15个字符"
                },
                "reg-email":{
                    required:"请输入邮箱"
                },
                "reg-password":{
                    required:"请输入密码",
                    rangelength:"密码为6-20个字符"
                },
                "reg-confirm-password":{
                    required:"请再次输入密码",
                    equalTo:"两次输入密码不一致"
                },
                "reg-vcode":{
                    required:"请输入验证码"
                }
            }
        });
        $("#login-email-not-exist").hide();
        $("#login-password-wrong").hide();
        $("#login-vcode-wrong").hide();

        $("#reg-email-exist").hide();
        $("#reg-nick-exist").hide();
        $("#reg-vcode-wrong").hide();

    });

    //    login button click
    $("#login-button").click(
        function () {
            $("#login-email-not-exist").hide();
            $("#login-password-wrong").hide();
            $("#login-vcode-wrong").hide();

            if($("#login-form").valid()){
                var email = $("#login-email").val();
                var password = $("#login-password").val();
                var vcode = $("#login-vcode").val();
                $.post("/user/login",{
                    email:email,
                    password:password,
                    vcode:vcode
                },function (data) {
                    if(data.code == 104) {
                        $("#login-vcode-wrong").show();
                    }else if(data.code == 102){
                        $("#login-email-not-exist").show();
                    }else if(data.code == 103) {
                        $("#login-password-wrong").show();
                    }else if(data.code == 0){
                        window.location.reload();
                    }
                });
            }
        }
    );

    //    register button click
    $("#reg-button").click(
        function () {
            $("#reg-email-exist").hide();
            $("#reg-nick-exist").hide();
            $("#reg-vcode-wrong").hide();

            if($("#reg-form").valid()){
                var nickName = $("#reg-nick-name").val();
                var email = $("#reg-email").val();
                var password = $("#reg-password").val();
                var vcode = $("#reg-vcode").val();
                $.post("/user/register",{
                    nickName:nickName,
                    email:email,
                    password:password,
                    vcode:vcode
                },function (data) {
                    if(data.code == 204) {
                        $("#reg-vcode-wrong").show();
                    }else if(data.code == 203) {
                        $("#reg-nick-exist").show();
                    }else if(data.code == 202){
                        $("#reg-email-exist").show();
                    }else if(data.code == 0){
                        window.location.reload();
                    }
                });
            }
        }
    );

    //    login vcode refresh
    $("#login-new-vcode").click(
        function () {
            var ranId = new Date().getTime();
            $("#login-vcode-img").attr("src","/captcha/alphanumeric?ref=login&code="+ranId);
        }
    )

    //    register vcode refresh
    $("#reg-new-vcode").click(
        function () {
            var ranId = new Date().getTime();
            $("#reg-vcode-img").attr("src","/captcha/alphanumeric?ref=register&code="+ranId);
        }
    )

</script>
</body>
</html>