<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/messages_zh.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <style th:include="header::#navbar-container-style"></style>
    <style th:include="footer::#footer-container-style"></style>

    <style id="mean-navbar-style" th:fragment="mean-navbar-style">
        .mean-navbar{
            padding-top: 0;
            padding-bottom: 0;
            float: left;
        }
        .mean-navbar ul li a{
            padding: 8px 12px;
        }
    </style>

</head>
<body>
<div th:replace="header::#navbar-container"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-2 mean-navbar" id="mean-navbar" th:fragment="mean-navbar">
            <ul class="nav nav-pills nav-stacked ">
                <li role="presentation" th:classappend="${pageIndex eq 'manageCenter'}?'active'"><a href="#">管理中心</a></li>
                <li role="presentation" th:classappend="${pageIndex eq 'account'}?'active'"><a th:href="@{'/user/account/'+${userInfo.id}}">账户信息</a></li>
                <li role="presentation" th:classappend="${pageIndex eq 'voteManage'}? 'active'"><a href="#">投票管理</a></li>
            </ul>
        </div>

        <div class="col-sm-10">
            Hello
        </div>

    </div>
</div>

<div th:replace="footer::#footer-container"></div>

<script th:replace="header::#navbar-container-script"></script>

</body>
</html>