<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/bootstrap-3.3.7/css/bootstrap.min.css"
            th:href="@{/assets/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet">

    <script src="/assets/jquery-3.2.1/jquery-3.2.1.min.js"
            th:src="@{/assets/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
    <script src="/assets/jquery-validation-1.17.0/jquery.validate.min.js"
            th:src="@{/assets/jquery-validation-1.17.0/jquery.validate.min.js}"></script>
    <script src="/assets/jquery-validation-1.17.0/localization/messages_zh.min.js"
            th:src="@{/assets/jquery-validation-1.17.0/localization/messages_zh.min.js}"></script>
    <script src="/assets/bootstrap-3.3.7/js/bootstrap.min.js"
            th:src="@{/assets/bootstrap-3.3.7/js/bootstrap.min.js}"></script>

    <link href="/assets/Semantic-UI/semantic.min.css"
            th:href="@{/assets/Semantic-UI/semantic.min.css}" rel="stylesheet">

    <script src="/assets/Semantic-UI/semantic.min.js"
            th:src="@{/assets/Semantic-UI/semantic.min.js}"></script>

    <title>找回密码</title>

    <style th:include="/commons/header::#navbar-container-style"></style>
    <style th:include="/commons/footer::#footer-container-style"></style>

    <style>
        #reset-pwd-container .form-group{
            align-content: center;
        }

        #reset-pwd-submit{
            width:100%;
        }

        #reset-pwd-steps-bar{
            height: 40px;
            width: 50%;
            margin-top: 0;
        }

        .reset-pwd-error{
            color:darkred;
        }

        #reset-pwd-submit-form label.error{
            color: darkred;
        }

    </style>
</head>
<body>
<div th:replace="/commons/header::#navbar-container"></div>

<div class="panel panel-default">
    <div class="container panel-body">
        <h2 style="margin: 0">找回密码</h2>
        <br>
        <span>通过注册邮箱或手机号重设密码</span>
        <hr>
        <div class="ui mini steps" id="reset-pwd-steps-bar">
            <div class="active step" id="reset-pwd-steps-bar1">
                <div class="content">
                    <div class="title">填写账户</div>
                </div>
            </div>
            <div class="disabled step" id="reset-pwd-steps-bar2">
                <div class="content">
                    <div class="title">安全验证</div>
                </div>
            </div>
            <div class="disabled step" id="reset-pwd-steps-bar3">
                <div class="content">
                    <div class="title">重设密码</div>
                </div>
            </div>
        </div>

        <div class="container" id="reset-pwd-container">
            <form class="form-horizontal " id="reset-pwd-submit-form">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="email" class="form-control" id="reset-pwd-email" name="reset-pwd-email" placeholder="请输入登录邮箱/手机">
                        <label id="reset-pwd-email-not-exist" class="reset-pwd-error">邮箱不存在！</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <input type="password" class="form-control" id="reset-pwd-vcode" name="reset-pwd-vcode" placeholder="验证码">
                        <label id="reset-pwd-vcode-wrong" class="reset-pwd-error">验证码错误！</label>
                    </div>
                    <img src="/captcha/alphanumeric?ref=resetPassword" alt="验证码" id="reset-pwd-vcode-img">
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-default" id="reset-pwd-submit" >提交</button>
                    </div>
                </div>
            </form>
            <div id="reset-pwd-submit-after">
                <p>设置新密码邮件已发送至1****5@qq.com,请在24小时内登录邮箱设置新密码。</p>
                <br>
                <div class="col-sm-offset-2">
                    <i class="mail outline icon" style="font-size: 40px;"></i>
                </div>
                <button class="btn btn-default" id="go-email">去邮箱查看</button>
                <a href="/user/password/reset">没收到，重发一封</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="/commons/footer::#footer-container"></div>

<script th:replace="/commons/header::#navbar-container-script"></script>
<script>
    $().ready(function () {
        $("#reset-pwd-submit-form").show();
        $("#reset-pwd-submit-after").hide();

        $("#reset-pwd-email-not-exist").hide();
        $("#reset-pwd-vcode-wrong").hide();

        $('#reset-pwd-submit-form').validate({
            rules:{
                "reset-pwd-email":{
                    required:true,
                    email:true
                },
                "reset-pwd-vcode":{
                    required:true,
                    rangelength:[4,4]
                }
            },messages:{
                "reset-pwd-email":{
                    required:"请输入邮箱",
                    email:"邮箱格式不正确"
                },
                "reset-pwd-vcode":{
                    required:"请输入验证码",
                    rangelength:"验证码长度不合适"
                }
            }
        });
    });



    $("#reset-pwd-submit").click(function () {

        $("#reset-pwd-email-not-exist").hide();
        $("#reset-pwd-vcode-wrong").hide();

        if($('#reset-pwd-submit-form').valid()){
            $.post("/user/password/reset",{
                email:$('#reset-pwd-email').val(),
                vcode:$('#reset-pwd-vcode').val()
            },function (data) {
                if(data.code==303){
                    $("#reset-pwd-vcode-wrong").show();
                }else if(data.code==302){
                    $("#reset-pwd-email-not-exist").show();
                }else if(data.code==0){
                    $('#reset-pwd-steps-bar1').removeClass('active').addClass('completed');
                    $('#reset-pwd-steps-bar2').removeClass('disabled').addClass('active');
                    $("#reset-pwd-submit-form").hide();
                    $("#reset-pwd-submit-after").show();

                }
            })
        }
    });

</script>

</body>

</html>